.page-container {
  box-sizing:border-box;
  background:rgb(239, 239, 239);
  overflow:hidden;
}

.card {
  margin: 30rpx 20rpx;
  padding: 20rpx;
  border-radius: 8rpx;
  background: rgb(255, 255, 255);
}

.card-title {
  font-size: 32rpx;
  line-height: 2;
  display: block;
}

.card .card-comments {
  font-size: 26rpx;
  line-height: 1.8;
  color: #666;
  display: block;
  margin-bottom: 10rpx;
}

button {
  margin-bottom: 20rpx;
}

.f-margin-bottom-0 {
  margin-bottom: 0;
}